<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User List</title>
</head>
<body>
<h1>List of users</h1>
<div class="container">
		
			<h3>List Users</h3>
			
			<hr/>
		
			<table class="table table-bordered table-striped" style="width: 500px;">
			
				<thead>
					<tr>
						<th style="width: 20px;">Name</th>
						<th style="width: 20px;">Email</th>
						<th style="width: 20px;">User Type</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user: ${userList}">
						<td style='width: 30px;' th:text="${user.fullName}" />
						<td style='width: 60px;' th:text="${user.email}" />
						<td style='width: 60px;' th:text="${user.userType}" />
					</tr>
				</tbody>
				
			</table>
		</div>
</body>
</html>